{% extends 'base.html.twig' %}

{% block title %}New ListeMaladie{% endblock %}

{% block body %}
    <h1>Create new ListeMaladie</h1>

    {{ include('liste_maladie/_form.html.twig') }}

    <a href="{{ path('app_liste_maladie_index') }}">back to list</a>
{% endblock %}
