<form method="post" action="{{ path('app_composition_menu_delete', {'id': composition_menu.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ composition_menu.id) }}">
    <button class="btn">Delete</button>
</form>
