{% extends 'base.html.twig' %}

{% block title %}Edit Ordre{% endblock %}

{% block body %}
    <h1>Edit Ordre</h1>

    {{ include('ordre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ordre_index') }}">back to list</a>

    {{ include('ordre/_delete_form.html.twig') }}
{% endblock %}
