{% extends 'base.html.twig' %}

{% block title %}New Ordre{% endblock %}

{% block body %}
    <h1>Create new Ordre</h1>

    {{ include('ordre/_form.html.twig') }}

    <a href="{{ path('app_ordre_index') }}">back to list</a>
{% endblock %}
