{% extends 'base.html.twig' %}

{% block title %}Edit Adoptant{% endblock %}

{% block body %}
<main>
    <h1>Edit Adoptant</h1>

    {{ include('adoptant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_adoptant_index') }}">liste Adoptants</a>
    <a href="{{ path('app_animal_index') }}">back to Animals</a>

    {{ include('adoptant/_delete_form.html.twig') }}
    </main>
{% endblock %}
