{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<main>

<img src="{{ asset('images/leZoo.jpg') }}" alt="Logo">

<a href="{{ path('app_animal_index') }}" class = "accueil">Voir les animaux</a>


</main>
</body>




        
{% endblock %}
