{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<body>
    <header>

        <h1>{{ title }}</h1>
        <p>On dit merci qui ? Merci Brigitte !</p>
        
        <a href="{{ path('app_animal_index') }}">Voir les animaux</a>
    </header>

</body>




        
{% endblock %}
