{% extends 'base.html.twig' %}

{% block title %}New Comportement{% endblock %}

{% block body %}
    <h1>Create new Comportement</h1>

    {{ include('comportement/_form.html.twig') }}

    <a href="{{ path('app_comportement_index') }}">back to list</a>
{% endblock %}
